Repository unicornware/brewfile: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn check:format, yarn check:lint, yarn dedupe --check

.lintstagedrc.json:

{
  "*": ["yarn check:format"],
  "**/*.{json,jsonc,md,yml}": ["yarn check:lint"],
  "**/yarn.lock": "yarn dedupe --check"
}

docs: revise contributing guide
  CONTRIBUTING.md
Due: yarn check:format, yarn check:lint

chore: update sample .gitconfig
  .github/.gitconfig
Due: yarn check:format

chore(github): revise pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: yarn check:format, yarn check:lint

chore(github): convert issue templates to issue forms
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/task.yml
Due: yarn check:format, yarn check:lint

chore(github): reorganize labels
  .github/labels.yml
Due: yarn check:format, yarn check:lint

ci(workflows): refactor label management workflow
  .github/workflows/label-syncer.yml
  .github/workflows/labels.yml
Due: yarn check:format, yarn check:lint

ci(workflows): refactor `lock-inactive-threads`
  .github/workflows/lock-inactive-threads.yml
Due: yarn check:format, yarn check:lint

ci(workflows): refactor `no-response-handler`
  .github/workflows/no-response-handler.yml
Due: yarn check:format, yarn check:lint

ci(workflows): `label-linked-issues`
  .github/graphql/queries/linked-issues.gql
  .github/workflows/label-linked-issues.yml
Due: yarn check:format, yarn check:lint

ci(workflows): `integrity`
  .github/workflows/integrity.yml
Due: yarn check:format, yarn check:lint

ci: refactor @dependabot workflow
  .github/auto-merge.yml
  .github/dependabot.yml
  .github/workflows/approve-pr.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependabot-auto.yml
Due: yarn check:format, yarn check:lint

ci(workflows): `ci`
  .github/workflows/ci.yml
Due: yarn check:format, yarn check:lint

chore: configure cspell
  .cspell.json
  .dictionary.txt
  .github/workflows/ci.yml
  .lintstagedrc.json
  .vscode/settings.json
  package.json
  yarn.lock
Due: yarn check:format, yarn check:lint, yarn dedupe --check

[dependabot skip] fix lockfile for @dependabot
  yarn.lock
Due: yarn check:format, yarn dedupe --check

chore: sync
  .dictionary.txt
  Brewfile
Due: yarn check:format
